@using System.Globalization;
@model InvoiceManagementApp.Models.FilterModel;

@{
    var hasFilter = Model != null && !string.IsNullOrWhiteSpace(Model.FilterType) && !string.IsNullOrWhiteSpace(Model.FilterValue);
}

<div class="row mb-4">
    @if (hasFilter)
    {
        <span>Filtro: @Model!.FilterType/@Model.FilterValue</span>        
    }
    <div class="col d-flex justify-content-end gap-3 align-content-center">
        <form method="post" id="formFilter">
            @if(hasFilter) {
                <a href="/" class="btn btn-warning btn-sm">Limpar filtro</a>
            }

            <input type="hidden" name="typeFilter" id="typeFilter" value="0" />
            <div class="btn-group">                
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMensal" data-bs-toggle="dropdown" aria-expanded="false">
                    Filtrar por mês
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMensal">
                    <input type="hidden" name="filterMonth" id="filterMonth" value="0" />
                    @for (int i = 1; i <= 12; i++)
                    {
                        <li>
                            <button type="button" class="dropdown-item text-capitalize" href="#" onclick="setFilter('mensal', '@i')">@DateTimeFormatInfo.GetInstance(new CultureInfo("pt-BR")).GetMonthName(i)</button>
                        </li>
                    }
                </ul>
            </div>

            <div class="btn-group ms-2">                
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownTrimestral" data-bs-toggle="dropdown" aria-expanded="false">
                    Filtrar por trimestre
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownTrimestral">
                    <input type="hidden" name="filterQuarter" id="filterQuarter" value="0" />
                    <li><button type="button" class="dropdown-item" href="#" onclick="setFilter('trimestral', '1')">Primeiro</button></li>
                    <li><button type="button" class="dropdown-item" href="#" onclick="setFilter('trimestral', '2')">Segundo</button></li>
                    <li><button type="button" class="dropdown-item" href="#" onclick="setFilter('trimestral', '3')">Terceiro</button></li>
                    <li><button type="button" class="dropdown-item" href="#" onclick="setFilter('trimestral', '4')">Quarto</button></li>
                </ul>
            </div>

            <div class="btn-group ms-2">                
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownAnual" data-bs-toggle="dropdown" aria-expanded="false">
                    Filtrar por ano
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownAnual">
                    <input type="hidden" name="filterYear" id="filterYear" value="0" />
                    @for (int i = DateTime.Now.Year - 1; i <= DateTime.Now.Year - 1; i++)
                    {
                        <li><button type="button" class="dropdown-item" href="#" onclick="setFilter('anual', '@i')">@i</button></li>
                    }
                </ul>
            </div>
        </form>
    </div>
</div>

<script>
    function setFilter(type, value) {
        document.getElementById("typeFilter").value = type
        console.log(type, value);
        if (type === 'mensal') {
            document.getElementById('dropdownMensal').textContent = 'Mês: ' + new Date(2000, value - 1).toLocaleString('pt-BR', { month: 'long' });
            document.getElementById("filterMonth").value = value
        } else if (type === 'trimestral') {
            document.getElementById('dropdownTrimestral').textContent = 'Trimestre: ' + (value === '1' ? 'Primeiro' : value === '2' ? 'Segundo' : value === '3' ? 'Terceiro' : 'Quarto');            
            document.getElementById("filterQuarter").value = value
        } else if (type === 'anual') {
            document.getElementById('dropdownAnual').textContent = 'Ano: ' + value; 
            document.getElementById("filterYear").value = value
        }

        document.getElementById("formFilter").submit();
    }
</script>