@page
@using System.Globalization
@using System.Text.Json
@model IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

<style>
    .chart-container {
        position: relative;
        width: 100%;
        height: 400px;
        max-height: 500px;
        overflow: hidden;
    }

    canvas {
        width: 100% !important;
        height: 100% !important;
    }
</style>

<div class="container">
    <div class="container-fluid" style="width: 80vw;">
        <div class="row">
            <span class="display-6 mt-4">Relatórios</span>
                <hr />
                <div class="col">
                    @if (Model.ErrorMessage != null)
                    {
                        <div>@Model.ErrorMessage</div>
                    }
                    else
                    {
                        @await Html.PartialAsync("_FiltersCard", Model.FilterModel)
                        @await Html.PartialAsync("_DashboardCards", Model.Reports)
                        @await Html.PartialAsync("_ReportsGraph", Model.Reports)
                    }

                </div>
        </div>
    </div>
</div>
